<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 menu fixed" style="position: fixed;z-index: 1;">
        <img id = "logo" src="assets/logotipo.png" routerLink = "Home"> 
        <nav class="my-2 my-md-0 mr-md-3 mgauto relative" >
          <a class="p-2 textwhite" routerLink='/Home' >Home</a>
          <a class="p-2 textwhite" routerLink='/Aboutus'>About us</a>
          <a class="p-2 textwhite" routerLink='/Wedo'>What we do</a>
          <a class="p-2 textwhite" routerLink='/Wedid'>What we did</a>
        </nav>
</div>


<!--<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#">Features</a>
    <a class="p-2 text-dark" href="#">Enterprise</a>
    <a class="p-2 text-dark" href="#">Support</a>
    <a class="p-2 text-dark" href="#">Pricing</a>
  </nav>
  <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>-->