<div style="height:100px;">
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 menu fixed" style="position: fixed;z-index: 1;">
        <img id = "logo" src="assets/logotipo.png" routerLink = "Home"> 
        <nav class="my-2 my-md-0 mr-md-3 mgauto relative" >
          <a class="p5 textwhite nave" routerLink='/Home' >Home</a>
          <a class="p5 textwhite nave" routerLink='/Aboutus'>About us</a>
          <a class="p5 textwhite nave" routerLink='/Wedo'>What we do</a>
          <a class="p5 textwhite nave" href='http://simulador.devants.com.br'>Simulate Now</a>
        </nav>
  </div>
</div>
