
nav img{
  height: 130px;
  object-position: center center;
  object-fit: cover;
  float: left;
  padding: 10px;
  cursor: pointer;
}
nav ul#menu-desktop {
  padding:0;
  position: absolute;
  left: 47%;
  top: 30px;
  font-size: 20px;
  width: 52%;
}

nav ul#menu-desktop li {
  list-style-type:none;
  display: inline;
}

nav ul#menu-desktop li a {
  padding: 30px 40px;
  margin: 0 15px;  
  text-decoration: none;
  color:#FFF;
  display: inline-block;
  margin-right: -3px;
  font-size: 80%;
  letter-spacing: 0.60;
}
nav ul#menu-desktop li a:hover{
  background-color: rgba(150,0,0,0.5);
  border-radius: 15%;
}
nav ul#menu-desktop li a.btnS{
  background-color: rgb(120,0,0);
  border-radius: 15%;
}
div#static{
  height: 130px;
}
div#fixed{
  width: 100%;
  position:fixed;
  top:0;
  z-index: 50;
  background-color: #303030;
  border-bottom: 2px solid black;
}
div#clear{
  clear: both;
}
@media only screen and (min-width:320px) and (max-width:1100px){
  div#static{
    display: none;
  }
  div#fixed{
    position: relative;
  }
  nav img{
    float: none;
    display: block;
    margin: 25px auto 0 auto;
  }
  nav ul#menu-desktop{
    position: relative;
    width: 100%;
    left: 0;
    top:0;
    text-align: center;
    margin: 20px auto;
  }
  nav ul#menu-desktop li a{
    padding: 20px;
  }
}
