<footer style = 'height: 80px;'>
    <div class = 'footer'>
      <div class = 'Contact' *ngIf = 'clicou'>
          <form [formGroup]= "registerForm">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label>Email Address</label>
                  <input  type="text" class="form-control" formControlName="address">
                </div>
              </div>  
              <div class="form-row">
                <div class="form-group col-md-8">
                  <label>Name</label>
                  <input  type="text" class="form-control" formControlName="name">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-8">
                  <label>Subject</label>
                  <input  type="text" class="form-control" formControlName="subject">
                </div>
              </div>  
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label>Message</label>
                  <textarea class="form-control"  formControlName="message" rows="3"></textarea>
                </div>
              </div>
              <button class="btn btn-primary" (click)="EnviarContato()">
                Enviar
              </button>
            <br>
            <br>
          </form>
      </div>          
      <img class = 'formiga' src="assets/logoU.png" class = 'btnC' (click) = 'mostra()'>
                
    </div>
</footer>
