<footer style = 'height: 80px;'>
    <div class = 'footer'>
        
                <a routerLink=''>
                <img class = 'formiga' src="assets/logoFormiga.png">
                </a>
                <button class = 'btnC' type = 'submit' (click) = 'mostra()'>
                    Contact Us
                </button>
                <div class = 'Contact' *ngIf = 'clicou'>
                    <form>
                        <div class="form-group">
                          <label for="exampleFormControlInput1">Email address</label>
                          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput01">Name</label>
                            <input type="txt" class="form-control" id="exampleFormControlInput1" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput01">Subject</label>
                            <input type="txt" class="form-control" id="exampleFormControlInput1" placeholder="Your Name">
                          </div>
                        <div class="form-group">
                          <label for="exampleFormControlTextarea1">Message</label>
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <button type="submit">Enviar</button>
                      </form>
                </div>
                <!--<div id = 'teste'></div>-->
    </div>
</footer>
