label{
  color: black;
  text-shadow: none;
}
.footer{
    background-color: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 120px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.btnC{
    position: relative;
    top: 50%;
    display: block;
    margin: 30px auto;
    border: none;
    background: none;
    width: 29%;
    height: 130px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.btnC:hover{
    box-shadow: 1px 1px 10px #111111;
}
.Contact{
    background-color: white;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
    width: 40%;
}
.Contact form button{
  margin-bottom: 10px;
}
#teste{
    background-color: black;
    height: 1px;
}
.padding{
  padding: 5px;
}


