<app-header></app-header>
<div class="content">
    
    <div  class="bloco">
        <div  id="esquerda"></div>
    </div>
    <div class = 'Meio'>
        <img id ="imagem" src = 'assets/DeskView.jpg'>
        <h1>What We Do</h1>
        <p>We are a group of friends who got the initiative to work together, bringing together the highest<br> 
           quality of each other to start a computer solutions, development and design company.<br> We 
           started this project on 24/07/2019, where we developed our applications, websites, logos and<br>
           brand. We use some projects to test our team skills, and from that point on, we try to work<br>
           harder and more closely giving rise to DevAnts. But why this name? “Dev” means developer<br>
           and “Ants” means ant, ants always work together; and "Devants" in French means front.<br>
           Therefore, we are ahead of developing projects always working together, seeking the best for our clients.
        
        <h3>How Does Simulation Works?</h3>
        <p>We are a group of friends who got the initiative to work together, bringing together the highest<br> 
           quality of each other to start a computer solutions, development and design company.<br> We 
           started this project on 24/07/2019, where we developed our applications, websites, logos and<br>
           brand. We use some projects to test our team skills, and from that point on, we try to work<br>
           harder and more closely giving rise to DevAnts. But why this name? “Dev” means developer<br>
           and “Ants” means ant, ants always work together; and "Devants" in French means front.<br>
           Therefore, we are ahead of developing projects always working together, seeking the best for our clients.
        

    </div>
    <div class='bloco' style="text-align: right; float: right" >
        <div id = "direita">
        </div>
    </div>
</div>
<app-footer></app-footer>