<app-header></app-header>
<div class="container">
    <div class="formigas">
        <img class="formiga" (click)=mudatexto(1) src="assets/igor.png">
        <p class="todasformigas igor">Igor</p>

        <img class="formiga"   (click)=mudatexto(2) src="assets/daniel.png">
        <p class="todasformigas daniel">Daniel</p>

        <img class="formiga" (click)=mudatexto(3) src="assets/lucas.png">
        <p class="todasformigas lucas">Lucas</p>

        <img class="formiga"  (click)=mudatexto(4) src="assets/cayo.png">
        <p class="todasformigas cayo">Cayo</p>

        <img class="formiga"  (click)=mudatexto(5) src="assets/julio.png">
        <p class="todasformigas julio">Julio</p>
        

    </div>
    <div id="texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin justo a vehicula tincidunt. Pellentesque venenatis turpis et urna fringilla sodales. Sed non dignissim sem. Nullam tempor augue vitae eleifend condimentum. In suscipit euismod semper. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin ultrices tellus vel eros mollis cursus. Donec vestibulum ornare erat, vitae eleifend arcu sollicitudin non. Aliquam mauris nisl, feugiat in venenatis non, tincidunt id nulla. Integer ligula est, blandit aliquet maximus sit amet, porttitor ut dui. Vestibulum ut eros dapibus, venenatis arcu non, pretium odio. Praesent rhoncus neque id velit interdum convallis. In dapibus, orci nec finibus sagittis, elit velit ultrices dolor, ac hendrerit purus turpis non arcu. Nullam convallis odio et viverra pellentesque.</div>
</div>
<app-footer></app-footer>