/*Tags--------------------*/
body{
    background-color: #1f1d1b;

    padding-right: 0px;
}
h1{
    padding-top: 10px;
    text-align: center;
}
p{
    position: relative;
    right: -5%;
    text-align: left;
    font-size: 20px;
}

*{
    color: white;
    text-shadow: 1px 1px #111111;
}

/*Classes--------------------*/
.container{
    height: 700px;
}
#texto{
    margin-top:30px;
    padding: 20px;
    border: 2px solid grey;
}
.formigas{
    width: 1500px;
    margin-top: 40px;
    margin-left: -150px;
    cursor: pointer;
    display: inline-block;
    
}

.formiga{
    width: 200px;
    height: 300px;
    margin-right: 100px;
    margin-top: 30px;
    transition-property: transform;
    transition-duration: 1s;
}
.formiga:hover{
    transform: rotateY(180deg);
    transition: 
}
.nome{
    opacity: 0.5;
    position: absolute;
    top:280px;
    left: 120px; 
    font-size: 40px;
}

/* Gambiarrazinha que não pode faltar, pra fazer o nome dos cara aparecer na imagem*/
.todasformigas{
    position: absolute;
    top: 310px;
}

.igor{
    
    left: 137px;
    width: 60px;
}
.daniel{
    
    left: 430px;
    width: 60px;
}
.lucas{
    
    left: 735px;
    width: 60px;
}
.cayo{
    
    left: 1030px;
    width: 60px;
}
.julio{
    
    left: 1335px;
    width: 60px;
    z-index: 2;
}



/* Classes de Julio*/
.bloco{
    width: 15%;
    float: left;
}
.content{
    padding-top: 10px;
    width: 80%;
    margin: auto;
}
.Meio{
    border: 1px solid rgba(255,255,255,0.7);
    margin-bottom: 30px;
}
.Meio img{
    height: 500px;
}
.membro{
    width: 30%;
    display: inline-block;
    padding:20px;
    margin: auto;
    margin-left: 3%;
}

/*IDS--------------------*/

#imagem{
    width: 100%;
}
#equipe p{
    color: white;
    position: relative;
    left: 40%;
    border-right: 1px solid white;
    border-left: 1px solid white;
    width: 230px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 50px;
}

#equipe{
    margin:auto;
}

.luquinhas{
    width: 100%;
}
.luquinhas:hover{
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.description{
    position: relative;
    top: -63px;
    right: -20%;
    font-size: 12px;
}
.subdescription{
    position: relative;
    right: -20%;
    font-size: 10px;
}