
<div class ='slider'>
    
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100 img-fluid" src="assets/Nois.png" alt="Aboutus">
                <div class="carousel-caption  d-md-block shadow">
                        <h5>Who are we?</h5>
                        <p>We are a group of friends who got the initiative to work together, bringing together 
                          the highest quality of each other to start a computer solutions,
                          development and design company...</p>
                        <a routerLink='Aboutus' class = 'link'>Know more...</a>
                      </div>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100 img-fluid" src="assets/UpView.jpg" alt="wedo">
                <div class="carousel-caption  d-md-block shadow">
                        <h5>WHAT IS OUR GOAL?</h5>
                        <p>Create and develop systems from all as areas that a possible 
                           customer can implement in your company or even for private use... 
                        </p>
                        <a routerLink='wedo' class = 'link'>Know more...</a>
                      </div>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100 img-fluid" src="assets/DeskView.jpg" alt="wedid">
                <div class="carousel-caption  d-md-block shadow">
                        <h5>Simulation Now</h5>
                        <p>Just click here and we will to choose what categories and 
                           features of the application you wanna and thats it!. 
                           The final result will generate a price and a PDF summary of 
                           the project designed by the customer.</p>
                        <a href = 'http://simulador.devants.com.br' class = 'link'>Know more...</a>
                      </div>
              </div>
            </div>
    </div>
</div>