img{
    max-width: 100%;
    height: auto;
}
.seta{
    width: 15%;
    float: left;
}
.content{
    padding-top: 10px;
}
#esquerda{
    background-color: #1f1d1b;
    height: 530px;
    background-size: 100% 100%;
}
#direita{
    background-color: #1f1d1b;
    height: 530px;
    background-size: 100% 100%;
}
.arrow{
    width: 50px;
}
.pos50{
    position: relative;
    top:50%;
}
#paddinD{
    padding-right: 60%; 
}
#paddinE{
    padding-left: 60%;
}