section#Main{
    height: 700px;
    width: 90%;
    margin: 0 auto;
}

section.formigas{
    height: 70%;
    width: 30%;
    border: 1px solid #f333f3;
    float: left;
    margin: o auto;
}

section.formigas.centro{
    margin-left: 5%;
}

section.formigas.direita{
    float: right;
}

div#formiga1{
    background-color: rgb(150,2,2);
    height: 100%;
}

div#formiga2{
    background-color: rgb(150,100,2);
    height: 100%;
}

div#formiga3{
    background-color: rgb(150,2,100);
    height: 100%;
}

.aumente{
    transform: scale(1.3);
    z-index: 30;
}

.diminui{
    transform: scale(1);
    z-index: 1;
}

