<app-header></app-header>
<section id="Main">
    <section class = "formigas" (click)="highlight(0)" [ngClass]="toogle[0]">
        <div id = "formiga1" ></div>
        
    </section>
    <section  class = "formigas centro" (click)="highlight(1)" [ngClass]="toogle[1]" >
        <div id = "formiga2"></div>
        
    </section>
    <section class = "formigas direita" (click)="highlight(2)" [ngClass]="toogle[2]" >
        <div id = "formiga3"></div>
        
    </section>
</section>

    
    

    

<app-footer></app-footer>