<app-header></app-header>
<section id="Main">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active" id = "background1">
            <section class="formigas">
              <img src="assets/LUCAS_U.png">
              <h1>WELCOME</h1>
            </section>
          </div>
          <div class="carousel-item" id = "background2">
            <section class = "formigas">
              <img src = "assets/DANIEL_U.png" id = "i1">
              <section class = "Texto">  
                <h1 routerLink="/Aboutus">About Us</h1>
              </section>
              <img src = "assets/IGOR_U.png" id = "i2">
            </section>
          </div>
          <div class="carousel-item" id = "background3">
            <section class = "formigas">
              <img src = "assets/CAYO_U.png" id = "i1">
              <section class = "Texto">  
                <h1>Simulate Now</h1>
              </section>
              <img src = "assets/JULIO_U.png" id = "i2">
            </section>
          </div>
        </div>
      </div>
      <p id="TextoDesc">Texto 1</p>      
</section>
<app-footer></app-footer>